{%- liquid
-%}

<section>
  <div class="my_container">
    <div class=" relative h-[300px]">
      <div class="collection_one_banner absolute z-10 w-full h-full top-0 left-0">
        {% if section.settings.collection_one_banner_image == blank %}
          {{ 'collection-1' | placeholder_svg_tag: 'w-full h-full object-cover' }}
        {%- else -%}
          <img
            src="{{ section.settings.collection_one_banner_image | image_url }}"
            class="w-full h-full object-cover"
            width=""
            height=""
            alt="">
        {% endif %}
      </div>
      <div class="bg_opacity absolute z-20 bg-black bg-opacity-35 w-full h-full top-0 left-0"></div>
      <div class="relative z-30 flex justify-center items-center h-[300px]">
        <h2 class="text-center  text-3x  uppercase ">{{ collection.title }}</h2>
      </div>

    </div>

    <div class="mt-10">
      <div class="grid gap-4 grid-cols-1 md:grid-cols-5">
        <div class="collection_filters col-span-5 md:col-span-1">
          {% comment %} tag filtering {% endcomment %}
          <div>
            {% render 'collection_tag_filtering'
              , collection: collection %}
          </div>
        </div>
        <div class="col-span-5 md:col-span-4">
          {% paginate collection.products by 4 %}
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:grid-cols-3">
              {% for product in collection.products %}
                <li class="">
                  {% render 'product-card-1'
                    , product: product
                    , forloop: forloop
                    , section: section
                  %}
                </li>
              {% endfor %}
            </ul>
            <div class="flex justify-center my-10">
              <div class="paginate_default">
                {{ paginate | default_pagination }}
              </div>
            </div>
          {% endpaginate %}
        </div>
      </div>

    </div>
  </div>
</section>

<style></style>

{% schema %}
  {
    "name": "Collection One",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Collection Page Banner"
      },
      {
        "type": "image_picker",
        "id": "collection_one_banner_image",
        "label": "Collection one banner image"
      },
      {
        "type": "select",
        "id": "add_to_cart_type",
        "label": "Add to cart type",
        "default": "api",
        "options": [
          {
            "label": "Form type",
            "value": "form"
          },
          {
            "label": "Api call",
            "value": "api"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection One",
        "settings": {}
      }
    ]
  }
{% endschema %}