<section> 
  product template swatch
</section>


{% schema %}
  {
    "name": "Product template swatch",
    "settings": [],
    "presets": [
      {
       "name": "Product template swatch" 
      }
    ]
  }
{% endschema %}